body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131313;;
}
/* style for footer section */
footer{
    background-color: #252525;
    color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 50px;
    width: 100%;
}
.logo{
    display: block;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.box2{
    display: flex;
    flex-direction: column;
    
}
.box2 h2{
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.6;
}
.box2 ul{
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
}
.box2 ul a{
    text-decoration: none;
    color: #eee; 
    margin-bottom: 25px;
    padding: 0;
    line-height: 2.5;
}
.box3{
    font-size: 16px;
}