*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    
}
:root{
    --background-color:hsla(320,70%,20%,.3);
    --font-size:25px;
    --padding:20px;
    --margin:10px;
    --border:6px ridge rgb(223, 73, 212);
}
body{
    
    background-color: var(--background-color)
}
h3{

border: .2rem dashed #57cf6d;
 height: 30vh;
 width: 80vw;
background-color: #daf;
font-size: var(--font-size);
}
main{
    font-size: var(--font-size);
    padding:2.5rem ;
    background-color: rgba(25, 55, 155, .5);
    margin:1rem;
    width: 50%;
}
p{
    font-size: 2em;
    width: 25%;
    
}
img{
    padding:var(--padding) ;
    margin: var(--margin);
    border: var(--border);
}